// Base
.btn {
  position: relative;
  display: inline-flex;
  width: auto;
  align-self: self-start;
  white-space: nowrap;
  font-family: $font-face-sans;
  font-weight: $font-weight-bold;
  font-size: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 35px;
  // line-height: $default-button-input-line-height;
  padding-right: $half-spacing-unit;
  padding-left: $half-spacing-unit;
  touch-action: manipulation;
  text-align: center;
  text-align-last: center;
  border-radius: $border-radius-default;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colour-blue);
  color: var(--colour-body-bg);
  text-decoration: none;
  transition: $transition-default-all;
  &:hover,
  &--active {
    color: white;
    background-color: var(--colour-pink);
    .btn__icon {
      color: inherit;
    }
  }

  &__text {
    display: flex;
    color: inherit;
  }
  &__icon {
    display: flex;
    color: inherit;
  }

  &__text + &__icon {
    margin-left: $half-spacing-unit;
  }
  &__icon + &__text {
    margin-left: $half-spacing-unit;
  }
}

.btn--inverse {
  background-color: var(--colour-pink);
  &:hover,
  &--active {
    background-color: var(--colour-blue);
  }
}

.btn--cta {
  font-family: $font-face-condensed;
  font-size: $font-size-h3;
  padding-left: 20px;
  padding-right: 20px;
  .btn__icon {
    margin-left: 15px;
  }
}

.btn--round {
  border-radius: $border-radius-round;
}

.btn--dark {
  background-color: $colour-grey;
  color: $colour-blue;
}

.btn--podcast {
  @extend .btn--round;
  @extend .btn--dark;
  font-weight: $font-weight-light;
  padding: 5px 12px;
  font-size: $font-size-h5;
}