:root {
  --colour-body-bg: #000000;
  --colour-grey-lightest: rgb(238, 238, 238);
  --colour-grey-light: rgb(181, 181, 181);
  --colour-grey: #343434;
  --colour-wrapper-bg: #212121;
  --colour-pink-lightest: #ffdbec;
  --colour-pink: #ff6bb1;
  --colour-pink-dark: #D71671;
  --colour-blue: #54C7FC;
  --colour-text: white;
  --colour-green: #00ff00;
}

$colour-body-bg: var(--colour-body-bg);
$colour-wrapper-bg: var(--colour-wrapper-bg);
$colour-pink-lightest: var(--colour-pink-lightest);
$colour-pink: var(--colour-pink);
$colour-blue: var(--colour-blue);
$colour-green: var(--colour-green);
$colour-grey-lightest: var(--colour-grey-lightest);
$colour-grey-light: var(--colour-grey-light);
$colour-grey: var(--colour-grey);
$colour-text: var(--colour-text);


$table-border-colour: rgb(99, 99, 99);
$table-thead-colour: rgb(255, 255, 255);   
$table-thead-bg-colour: $colour-grey;
$table-tbody-colour: $colour-wrapper-bg;        
$table-row-bg-colour: white;
$table-row-bg-colour-alt: $colour-grey-lightest;
$table-row-colour-hover: white;
$table-row-bg-colour-hover: $colour-pink;