:root {
  --colour-body-bg: #131415;
  --colour-wrapper-bg: #212121;
  --colour-pink-lightest: #FFDBEC;
  --colour-pink: #FF6BB1;
  --colour-blue: #5DBDFF;
  --colour-text: white;
}

$colour-body-bg:          var(--colour-body-bg);
$colour-wrapper-bg:       var(--colour-wrapper-bg);
$colour-pink-lightest:    var(--colour-pink-lightest);
$colour-pink:             var(--colour-pink);
$colour-blue:             var(--colour-blue);