// Vertical rule
.vr {
    grid-column: content-start / content-end;
    width: 1px;
    &--pink {
        background-color: var(--colour-pink);
    }
    &--blue {
        background-color: var(--colour-blue);
    }
}
